/* HomePage specific styles */
.homepage-image-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-color: #11131A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage-image-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.homepage-image-text-overlay h1 {
    font-size: 3rem;
    font-weight: bold;
}

.homepage-image-text-overlay p {
    font-size: 1rem;
    margin: 20px 0;
}

.homepage-start-button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: white;
    color: #11131A;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 70px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.5);
}

.homepage-start-button:hover {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.9), 0 0 25px rgba(0, 123, 255, 0.7);
}

.homepage-nba-news {
    padding: 20px;
}
