.app {
    position: relative;
    overflow-x: hidden;
    background-color: #11131A;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #11131A;
}

.app-content {
    margin-top: 105px;
    min-height: calc(100vh - 220px);
}

