.stat-chart {
    height: 100%;
    width: 100%;
    background-color: #1a1b1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f8f9fa;
}

.stat-chart h2 {
    margin-bottom: 35px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.stat-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    margin-right: 40px;
    margin-left: 40px;
}

.stat-row:last-child {
    border-bottom: none;
}

.stat-row .icon {
    margin-right: 20px;
    font-size: 24px;
    width: 30px;
}

.stat-row div {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 100%;
}

.stat-row .stat-text {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.stat-row span {
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
}
