.stat-chart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: auto;
    background-color: #1a1b1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f8f9fa;
}

.stat-chart h3 {
    flex: 35%;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding-bottom: 10px;
}

.stat-item {
    flex: 65%;
    display: flex;
   flex-direction: column;
    gap:  20px;
}

.stat-row {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-right: 10px;
    margin-left: 10px;
}

.stat-row:hover {
    color: #FFD700;
}

.stat-row:last-child {
    border-bottom: none;
}

.stat-row .icon {
    margin-right: 20px;
    font-size: 24px;
    width: 30px;
    display: flex;
    align-items: center;
}

.stat-row div {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 100%;
}

.stat-row span {
    margin-left: 25px;
    font-size: 18px;
}
