.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 77px;
    background-color: #1a1a2e;
    border-radius: 10px;
    transition: width 0.3s ease, height 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.search-box.active {
    width: 300px;
    height: 77px;
}

.search-icon {
    font-size: 24px;
    color: white;
}

.search-input:focus {
    border: transparent;
    box-shadow: none;
}

.ant-select-dropdown {
    background-color: #1a1a2e !important;
    color: white !important;
    border-radius: 10px !important;
}

.ant-select-item {
    color: white !important;
    margin-bottom: 10px !important;
}

.ant-select-item:hover {
    color: #1a1a2e !important;
    background-color: #f8f9fa !important;
}

.ant-select-item-option-active {
    color: #1a1a2e !important;
    background-color: #f8f9fa !important;
}
