.player-list-all {
}

.player-list {
    width: 100%;
    border-radius: 10px;
}

.player-list-cards {
    display: flex;
    flex-direction: column;
}

.player-list-title {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}


.player-list-title-player {
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: #f8f9fa;
}

.player-list-title-team {
    display: flex;
    align-items: center;
    width: 220px; /* 設置固定寬度 */
    justify-content: flex-start;
    color: #f8f9fa;
}

.player-list-title-price {
    display: flex;
    align-items: center;
    width: 90px; /* 設置固定寬度 */
    justify-content: flex-start;
    color: #f8f9fa;
}