@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 5%;
    width: 100%;
    padding: 20px;
    background-color: #1A1B1E;
    border-top: 3px solid #2f2f2f;
    z-index: 1000;
    animation: slideInUp 0.5s ease-in-out;
}

.toolbar.slide-out {
    animation: slideOutDown 0.5s ease-in-out forwards;
}

.toolbar-row {
    height: 100%;
    text-align: center;
}

.toolbar-info-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 50px;
    margin-left: 100px;
}

.toolbar-info-block {
    text-align: center;
}

.toolbar-info-title {
    color: #888888;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
}

.toolbar-info-value {
    color: #f8f9fa;
    font-size: 20px;
    font-weight: bold;
}

.toolbar-info-value-after {
    color: #1677FF;
}

.toolbar-button-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 50px;
}

.continue-button {
    width: 130px;
    height: 100%;
    font-size: 16px;
    margin-right: 70px;
}

.share-input {
    background-color: #11131a;
    border: 1px solid #11131a;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    width: 200px;
    color: white;
}

.share-input:hover, .share-input:focus {
    background-color: #c0c0c0; /* background color on hover */
    border-color: #11131A;
    color:#11131a;
    outline: none;
}

.share-input::placeholder {
    color: white;
}

.share-input:hover::placeholder {
    color: transparent;
}

.share-input::-webkit-inner-spin-button,
.share-input::-webkit-outer-spin-button {
    -webkit-appearance: none; /* hides the default spin buttons in WebKit browsers */
    margin: 0;
}

.toolbar-close {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}

.toolbar-info-playerGC {
    display: flex;
    justify-content: space-between;
}

.toolbar-info-symbol {
    font-family: 'Palatino', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #60616d;
}
