.player-list-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    background-color: #1a1a2e;
}

.player-list-card.selected {
    border-color: #1890ff;
}

.player-list-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.player-list-image {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.player-list-details {
    display: flex;
    flex-direction: column; /* 確保姓名和數據垂直排列 */
    justify-content: center; /* 垂直居中 */
    color: white;
}

.player-list-name {
    font-size: 18px;
    font-weight: bold;
}

.player-list-stats {
    font-size: 14px;
    color: #888;
}

.player-list-team {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    width: 220px; /* 設置固定寬度 */
    justify-content: flex-start;
}

.player-list-price {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    width: 90px; /* 設置固定寬度 */
    justify-content: flex-start;
}

.player-list-button {
    display: flex;
    align-items: center;
    flex-shrink: 0; /* 保持按鈕大小 */
    margin-left: 10px;
}
