.player-grid-card {
    background: #1a1a2e;
    border-radius: 10px;
    text-align: center;
    width: 130px;
    height: 100px;
    position: relative;
    cursor: pointer;
    margin-bottom: 80px;
}

.player-grid-card img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.player-grid-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 18px;
}

.player-grid-info h3 {
    color: white;
    margin: 10px 0 5px 0;
}

.player-grid-card-currentIndex {
    margin-top: 5px;
    font-size: 15px;
    color: #60616D;
}


