.player-card-page {
    padding: 20px;
    background-color: #11131a;
    color: #f8f9fa;
}

.back-button {
    background: none;
    border: none;
    color: #1890ff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.player-card-container {
    display: flex;
    width: 100%;
}

.player-card-left {
    flex: 25%;
    padding: 10px;
}

.player-card-right {
    flex: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.player-card-right-top {
    flex: 50%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.player-card-right-bottom {
    flex: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.player-card-right-bottom > .price-chart {
    flex: 7; /* 70% width */
}

.player-card-right-bottom > .stat-chart {
    flex: 3; /* 30% width */
}
