.player-card-page {
    padding: 20px;
    background-color: #11131a;
    color: #f8f9fa;
}

.back-button {
    background: none;
    border: none;
    color: #1890ff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.player-card-container {
    display: flex;
    width: 100%;
}

.player-card-left {
    flex: 1 1 25%;
    padding: 10px;
}

.player-card-right {
    flex: 3 1 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.player-card-right-top {
    flex: 1;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.player-card-right-bottom {
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.player-card-right-bottom > div {
    flex: 1; /* 每个子元素占据50%的宽度 */
}

