.main-content {
    display: flex;
    padding: 60px;
    box-sizing: border-box;
}

.left-panel {
    flex: 1.05;
    color: #f8f9fa;
    box-sizing: border-box;
}

.right-panel {
    flex: 1;
    box-sizing: border-box;
}
