.main-content {
    display: flex;
    padding: 60px;
    box-sizing: border-box;
}

.left-panel {
    flex: 1.7;
    color: #f8f9fa;
    box-sizing: border-box;
    margin-right: 100px;
}

.right-panel {
    flex: 1;
    box-sizing: border-box;
}

.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
