.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px; /* Add some padding to space out the items */
    border-bottom: 3px solid #2f2f2f;
}

.menu-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.menu-center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.menu-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    position: relative;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-item::after {
    content: '';
    position: absolute;
    bottom: -31px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.menu-item:hover {
    color: #1890ff; /* Change color on hover */
}

.menu-item.active {
    color: #1890ff;
}

.menu-item.active::after {
    background-color: #1890ff; /* Adjust the active underline color */
}

.logo {
    height: 140px; /* Adjust based on your logo size */
    width: 160px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.user-name {
    color: white;
}

.user-gc {
    font-size: 14px;
    color: #60616D;
}

.user-avatar-list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.user-avatar-button-first {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.user-avatar-button-first:hover {
    color: #1890ff;
}

.user-avatar-button:hover {
    color: #1890ff;
}

.user-avatar-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
}


