.performance-chart {
    width: 100%;
    background-color: #1a1b1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f8f9fa;
}

.performance-chart h3 {
    margin-bottom: 20px;
}

.performance-chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.ant-radio-group {
    background-color: #11131a;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.ant-radio-button-wrapper {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    color: white !important;
    border-radius: 20px !important; /* Ensure border-radius is applied to each button */
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.ant-radio-button-wrapper:first-child {
    border-radius: 20px 0 0 20px !important;
}

.ant-radio-button-wrapper:last-child {
    border-radius: 0 20px 20px 0 !important;
}

.ant-radio-button-wrapper-checked {
    background-color: #008aff !important;
    color: white !important;
    border-radius: 20px !important; /* Add border-radius for rounded effect */
}

.ant-radio-button-wrapper:hover {
    color: white !important;
}

.ant-radio-button-wrapper:focus-within,
.ant-radio-button-wrapper:active,
.ant-radio-button-wrapper:focus {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 20px !important; /* Ensure rounded corners during focus/active state */
}

.ant-radio-button-wrapper:not(:first-child)::before {
    display: none !important;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: #008aff !important;
    color: white !important;
}

.echarts-tooltip {
    color: #000;
}

